<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bitbucket CSV Table</title>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all">
    <style>
      table.aui>tbody>tr {border-bottom:0;}
      table.aui>tbody>tr>td {border-bottom:1px solid #CCC;}
      table.aui>tbody>tr:first-child>td {border-top:0}
      table.aui>tbody>tr:last-child {border-bottom:0}
      table.aui>tbody>tr>td.lineno {
        color: #707070;
        background: #F5F5F5;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #F5F5F5;
        font-family: Consolas,Menlo,"Liberation Mono",Courier,monospace;
        text-align: right;
        width: 12px;
      }
    </style>
  </head>
  <body>
    <div id="root">Loading…</div>
    <script src="//bitbucket.org/atlassian-connect/all.js"></script>
    <!-- scripted added below at build time -->
  </body>
</html>
